@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f3ec;
  --foreground: #000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  width: 390px;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}
